.spacer {
    width: 100%;
    height: 134px;
}
.internal-content {
    width: 100%;
    background: -webkit-linear-gradient(119deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    background-blend-mode: soft-light;
    padding: 205px 219px 170px 81px;
}
.banner-heading {
    @include white-mennu-items;
    font-size: 60pt;
}
.brazr-url {
    @include white-mennu-items;
    font-size: 34pt;
    opacity: 0.5;
    display: inline-block;
}
.arrow-right-banner {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 9px;
    transform: rotate(-45deg);
    border-radius: 2px;
}
.arrow-tag {
    background: none;
    border: none;
    padding-left: 390px;
}
@media screen and (max-width: 768px) {
    .spacer {
        display: none;
    }
    .banner-heading {
        font-size: 30pt;
    }
    .internal-content {
        padding: 190px 133px 170px 81px;
    }
    .brazr-url {
        font-size: 17pt;
        padding-top: 20px;
    }
    .arrow-tag {
        padding-left: 170px;
    }
}

@media screen and (max-width: 640px) {
    .spacer {
        height: 75px;
    }
    .internal-content {
        padding: 115px 134px 105px 53px;
    }
    .banner-heading {
        font-size: 15pt;
    }
    .brazr-url {
        font-size: 17pt;
    }
    .arrow-right-banner {
        border: solid white;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(-45deg);
        border-radius: 2px;
    }
    .arrow-tag {
        background: none;
        border: none;
        padding-left: 90px;
    }
}
@media screen and (max-width: 378px) {
    .internal-content {
        padding: 115px 65px 105px 53px;
    }
    .banner-heading {
        font-size: 13pt;
    }
    .brazr-url {
        font-size: 10pt;
    }
    .arrow-tag {
        padding-left: 20px;
    }
}
@media screen and (max-width: 320px) {
    .banner-heading {
        font-size: 13pt;
    }
    .brazr-url {
        font-size: 10pt;
    }
    .internal-content {
        padding: 95px 66px 54px 38px;
    }
    .arrow-right-banner {
        border-width: 0 2px 2px 0;
        padding: 5px;
    }
    .arrow-tag {
        background: none;
        border: none;
        padding-left: 15px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 1023px) {
    .banner-heading {
        font-size: 60px;
    }
    .internal-content {
        padding: 205px 219px 170px 81px;
    }
    .arrow-tag {
        background: none;
        border: none;
        padding-left: 170px;
    }
}