<header class="header">
    <div class="main-menu-container">
        <nav class="nav">
            <span id="menu-nav"> Navigation </span>
            <ul class="nav-list">
                <li class="nav-list-content">
                    <a class="main-menu-element"> PSD WEBSITES </a>
                </li>
                <li class="nav-list-content">
                    <a class="main-menu-element"> UI KITS </a>
                </li>
                <li class="nav-list-content">
                    <a class="main-menu-element"> PREMIUM PSD FILES </a>
                </li>
                <li class="nav-list-content">
                    <a class="main-menu-element"> ABOUT </a>
                </li>
                <li class="nav-list-content">
                    <a class="main-menu-element"> BLOG </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="black-nav-button">
        <button class="btn-hamburger">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>        
        </button>
    </div>
</header>
